* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw+1vh);
    --color-header: #f4efec;
    --color-text: #cdc6c3;

}

@font-face {
    font-family: Consequences-c;
    src: url(../fonts/Consequences.woff2);
}

@font-face {
    font-family: outfit-c;
    src: url(../fonts/Consequences.woff2);
}

body {
    background-image: url(..img/bg.jpg);
    background-size: 50px;
    color: #fafafa;
    font-family: Consequences-c;
    overflow: hidden;

}




